@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

body {
  user-select: none;
  background: white;
}

.form-wrapper {
  max-width: 300px;
  margin: auto;
  padding: 30px;
  border-radius: 10px
}

.title {
  font-weight: bold
}

.titlef {
  font-family: 'Bungee Shade'
}

.hero {
  border-radius: 10px;

}

#title-hero {
  text-align: center;
  animation-name: Load;
  animation-duration: 650ms;
  animation-delay: 60ms;

}

#index-hero {
  text-align: center;
  animation-name: Load;
  animation-duration: 300ms;
}

.form-wrapper {
  animation-name: Load;
  animation-duration: 300ms;
  animation-delay: 3ms;
}

#awrapper {
  animation-name: Index;
  animation-duration: 600ms
}

.hero-body .title {
  font-family: 'Bungee Shade'
}

.box {
  box-shadow: none;
  transition: 300ms ease;
  text-align: center
}

.ibox:hover, .ibox:focus {
  background: rgba(0, 0, 0, 0.027);
  transform: scale(1.2);
}

.adriano {
  animation-name: Icons;
  animation-duration: 1s;
}

.affinity-active {
  color: rgb(228, 27, 228);
}

.health-active {
  color: red
}

.happyness-active { 
  color: rgb(132, 202, 28)
} 

.hunger-active {
  color: yellow
}


@media screen and (max-width: 768px) {
  .ibox:hover, .ibox:focus {
    background: white;
    box-shadow: 0 7px 10px white;
    transform: scale(1);
  }
  .box {
    text-align: left;

  }

  hr{
    display: none
  }

  #awrapper .box {
    box-shadow:  0 3px 10px rgba(0, 0, 0, 0.075);
    border-radius: 0px
  }
}

#affinity-box {
  animation-name: Load;
  animation-duration: 500ms;
  animation-delay: 0s 
}

#health-box {
  animation-name: Load;
  animation-duration: 500ms;
  animation-delay: 30ms
}

#happiness-box {
  animation-name: Load;
  animation-duration: 500ms;
  animation-delay: 60ms
}

#hunger-box {
  animation-name: Load;
  animation-duration: 500ms;
  animation-delay: 90ms
}

@keyframes Index {
  0% {
    opacity: 0.0;
    transform: translateY(20px) scale(1.5)
  }
}

@keyframes Icons {
  0% {
    transform: scale(1.2)
  }
}

@keyframes Load {
  0% {
    opacity: 0.0;
    transform: translateY(50%);
  }

  10% {
    opacity: 0.0;
  }
}
