<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChomChom</title>
    <link rel="icon" href="public/images/chom.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="../public/stylesheet/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
  <section class="container">
    <div class="hero is-white" id="title-hero">
      <div class="hero-body">
        <h1 class="title">Cuide do <span id="name-out"></span>!</h1>
      </div>
    </div>
    <div id="iwrapper" class="columns">
      <div class="column">
        <div class="box" id="name-box">
          <h1 class="title">Afinidade</h1>
          <i class="fas fa-star affinity-active"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
      </div>
      <div class="column">
        <div class="box" id="health-box">
          <h1 class="title">Saúde</h1>
          <i class="fas fa-heart health-active"></i>
          <i class="fas fa-heart health-active"></i>
          <i class="fas fa-heart"></i>
          <i class="fas fa-heart"></i>
          <i class="fas fa-heart"></i>
        </div>
      </div>
      <div class="column">
        <div class="box" id="happyness-box">
          <h1 class="title">Felicidade</h1>
          <i class="fas fa-cannabis happyness-active"></i>
          <i class="fas fa-cannabis"></i>
          <i class="fas fa-cannabis"></i>
          <i class="fas fa-cannabis"></i>
          <i class="fas fa-cannabis"></i>
        </div>
      </div>
      <div class="column">
        <div class="box" id="hunger-box">
          <h1 class="title">Fome</h1>
          <i class="fas fa-fish hunger-active"></i>
          <i class="fas fa-fish hunger-active"></i>
          <i class="fas fa-fish hunger-active"></i>
          <i class="fas fa-fish hunger-active"></i>
          <i class="fas fa-fish"></i>
        </div>
      </div>
    </div>
    <hr>
    <div id="awrapper" class="columns">
      <div class="column">
        <div class="box ibox">
          <h1 class="title">Alimentar</h1>
          <p class="subtitle">Selecione uma comida</p>
          <div class="inline-flex adriano">
            <button class="button is-white" id="al-1"><i class="fas fa-bacon"></i></button>
            <button class="button is-white" id="al-2"><i class="fas fa-bone"></i></button>
            <button class="button is-white" id="al-3"><i class="fas fa-cannabis"></i></button>
            <button class="button is-white" id="al-4"><i class="fas fa-cheese"></i></button>
            <button class="button is-white" id="al-5"><i class="fas fa-ice-cream"></i></button>
            <button class="button is-white" id="al-6"><i class="fas fa-cookie"></i></button>
            <button class="button is-white" id="al-7"><i class="fas fa-fish"></i></button>
            <button class="button is-white" id="al-8"><i class="fas fa-hamburguer"></i></button>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box ibox">
          <h1 class="title">Brincar</h1>
          <p class="subtitle">Selecione uma brincadeira</p>
          <div class="inline-flex adriano">
            <button class="button is-white" id="br-1"><i class="fas fa-fist-raised"></i></button>
            <button class="button is-white" id="br-2"><i class="fab fa-wizards-of-the-coast"></i></button>
            <button class="button is-white" id="br-3"><i class="fas fa-dice-d20"></i></button>
            <button class="button is-white" id="br-4"><i class="fas fa-dice-d6"></i></button>
            <button class="button is-white" id="br-5"><i class="fab fa-d-and-d"></i></button>
            <button class="button is-white" id="br-6"><i class="fas fa-dungeon"></i></button>
            <button class="button is-white" id="br-7"><i class="fas fa-hat-wizard"></i></button>
            <button class="button is-white" id="br-8"><i class="fas fa-chess-king"></i></button>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box ibox">
          <h1 class="title">Agraciar</h1>
          <p class="subtitle">Escolha uma carícia</p>
          <button class="button is-white is-small">Carinho nas costas</button><br>
          <button class="button is-white is-small">Carinho na barriga</button><br>
          <button class="button is-white is-small">Carinho no anus</button><br>
          <button class="button is-white is-small">Beijinho</button>
        </div>
      </div>
      <div class="column">
        <div class="box ibox">
          <h1 class="title">Bater</h1>
          <p class="subtitle">Ele pode ficar triste</p>
          <button class="button is-danger ">Bater no seu ChomChom</button>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="../public/javascript/actions.js"></script>
  <script src="../public/javascript/form.js"></script>
  </body>
</html>
